/* Estils per al formulari de login */
.login-container::before {
    content: "";
    background-image: url(../images/fondo1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(5px);
    /* Ajusta el valor de blur según lo desees */
}

.login-container.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    position: relative;
}

.login-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-label {
    color: #555;
}

.form-control {
    border-radius: 5px;
}

.login-button {
    margin-top: 20px;
}

.login-button .spinner-border {
    margin-right: 5px;
}

/* Estils per al component de logout */
.logout-container::before {
    content: "";
    background-image: url(../images/fondo2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(5px);
    /* Ajusta el valor de blur según lo desees */
}

.contingut {
    display: flex;
    margin-top: 50px;
    align-items: center;
}

.logout-container.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    /* top: 150px; */
    position: relative;
}

.logout-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.logout-button {
    width: 100%;
    margin-top: 20px;
}

/* Estils per a la secció d'usuari */
.user-section {
    margin-top: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.user-section h1 {
    color: #333;
    margin-bottom: 10px;
}

.user-section ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
}

.user-section button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.user-section button:hover {
    background-color: #0056b3;
}

.user-section hr {
    border: none;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estils footer */
.footer {
    /* position: fixed;
    left: 0;
    bottom: 0; */
    width: 100%;
    background-color: #343a40;
    /* Color de fons */
    color: white;
    /* Color del text */
    padding: 20px;
    /* Espaiat intern */
}

/* Estils pel formulari de contacte */

.custom-form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    /* Afegeix una ombra suau */
}

.custom-form .form-group {
    margin-bottom: 20px;
    /* Espai entre els elements del formulari */
}

.custom-form label {
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 10px;
}

/* Estils de la barra de cerca */
.navbar-nav {
    align-items: center;
}

/* Estil per barra navegacio */
nav.color-nav.navbar.navbar-expand-sm.navbar-dark.bg-dark.sticky-top {
    height: 100px;
}

/* Estils resultats cerca */
div#resultatscerca {
    position: relative;
    width: 170px;
    bottom: -241px;
}

/* Estils cartes */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

div.card {
    background-color: rgb(246, 246, 246);
}

/* Estils per text salutació usuari */
span.navbar-text {
    padding-right: 30px;
}

/* Estils menú bocadillo */
.mr-auto.align-items-center.navbar-nav {
    background-color: #212529;
}

.navbar-nav {
    background-color: #212529;
}

.justify-content-end.navbar-collapse.collapse.show {
    background-color: #212529;
    text-align: center;
    padding-bottom: 20px;
}

/* Estils per visites */
#visites {
    background-color: rgb(255, 255, 232);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    /* Afegeix una ombra suau */
}

div#visites {
    margin: 20px;
}

/* Estils pels punts d'interes */
#puntsinteres {
    background-color: rgb(255, 255, 232);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    /* Afegeix una ombra suau */
}

div#puntsinteres {
    margin: 20px;
}

/* Estils per a dispositius mòbils */
@media (max-width: 600px) {
    #punts {
        overflow: auto;
        width: 100%;
        /* Ajusta el màxim ample del contenidor */
        display: flex;
        flex-direction: column;
    }

    .d-flex {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    div.card {
        width: 100% !important;
        /* Ajustar al ancho completo */
    }

    #visitestotal {
        overflow: auto;
        width: 100%;
        /* Ajusta el màxim ample del contenidor */
        display: flex;
        flex-direction: column;
    }

    .espais-container {
        overflow: auto;
        display: flex;
        flex-direction: column;
    }

    .espai-card {
        overflow: auto;
        width: 100%;
        margin-top: 20px;
    }

    .cartes {
        overflow: auto;
        width: 100%;
    }

    .card {
        overflow: auto;
        width: 100%;
    }

    .espais-container {
        overflow: auto;
        margin: auto;
    }

    #comentaris {
        overflow: auto;
        margin: auto;
        width: 100%;
    }
}

@media (min-width: 601px) {
    .cartes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        width: calc(25% - 1rem);
    }

    .espai-card {
        width: calc(25% - 1rem);
        margin: 0.5rem;
    }

    .espais-container {
        margin: -0.5rem;
        margin-top: 0.5rem;
    }

    #comentaris {
        margin: auto;
        width: 100%;
    }
}

/* Espais */
.espais-title {
    text-align: center;
    padding: 20px;
}

.barra-cerca-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.espais-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin: -0.5rem;
    margin-top: 0.5rem; */
}

.espai-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.espai-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.espai-card-body {
    padding: 1rem;
}

.espai-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.espai-description {
    font-size: 1rem;
    color: #333;
}

.paginacio-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

/* Estils imatge capçalera i text */
#imatgeheader{
    display:block;
}

#textheader{
    display: none;
}

@media screen and (max-width: 600px) {
    #imatgeheader{
        display: none;
    }

    #textheader{
        display: block;
        color: white;
        text-align: center;
        margin: auto; 
    }

    button.navbar-toggler {
        margin: 20px;
        position: absolute;
    }
}

.button.navbar-toggler {
    margin: 20px;
    position: absolute;
}