{
    "openapi": "3.0.0",
    "info": {
        "title": "Projecte BALEARCS-E",
        "description": "REST API. Projecte BALLEARCS-E. DAW Client i servidor.",
        "contact": {
            "name": "Aurora, Joan i Joan Toni.",
            "email": "joanantoniramon@paucasesnovescifp.cat"
        },
        "version": "1.0"
    },
    "servers": [
        {
            "url": "http://balearcs.dawpaucasesnoves.com/balearcs/public"
        }
    ],
    "paths": {
        "/api/arquitectes": {
            "get": {
                "tags": [
                    "Arquitectes"
                ],
                "summary": "Obtenir tots els arquitectes",
                "description": "Retorna una llista de tots els arquitectes",
                "operationId": "getArquitectes",
                "responses": {
                    "200": {
                        "description": "Llista d'arquitectes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Arquitectes"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error de validació",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": {
                                                "field_name": [
                                                    "Error message"
                                                ]
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error intern del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Missatge d'error intern del servidor"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/arquitectes": {
            "post": {
                "tags": [
                    "Arquitectes"
                ],
                "summary": "Crea un nou arquitecte",
                "operationId": "066d6da045a105b9d51e1bab8d0d913b",
                "requestBody": {
                    "description": "Dades necessàries per a crear un nou arquitecte",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nom"
                                ],
                                "properties": {
                                    "nom": {
                                        "type": "string",
                                        "example": "Antoni Gaudí"
                                    },
                                    "data_baixa": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-12-31",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Arquitecte creat correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Arquitectes"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error en la validació de dades",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error intern del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/arquitectes/{id}": {
            "get": {
                "tags": [
                    "Arquitectes"
                ],
                "summary": "Obté les dades d'un arquitecte",
                "operationId": "d20abf9d0f8fa238dd96231ce5d29ba6",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Identificador únic de l'arquitecte",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Arquitecte trobat",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "correcto"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Arquitectes"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Arquitecte no trobat",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "Usuari no trobat"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error intern del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Arquitectes"
                ],
                "summary": "Actualitza les dades d'un arquitecte",
                "operationId": "4367b8c51e5edad3c7c1e7bf72ab031c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Identificador únic de l'arquitecte a actualitzar",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Dades de l'arquitecte a actualitzar",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [],
                                "properties": {
                                    "nom": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "Antoni Gaudí"
                                    },
                                    "data_baixa": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-12-31",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Dades de l'arquitecte actualitzades correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Arquitectes"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error en la validació de dades",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error intern del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Arquitectes"
                ],
                "summary": "Elimina un arquitecte",
                "operationId": "101c2499d5bbf87d3c2348dde3205982",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Identificador únic de l'arquitecte a eliminar",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Arquitecte eliminat correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Arquitectes"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Arquitecte no trobat",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "Error"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error intern del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/audios": {
            "get": {
                "tags": [
                    "Audios"
                ],
                "summary": "Llista tots els audios",
                "operationId": "50a346863957d4da0a4e49b18c8e2316",
                "responses": {
                    "200": {
                        "description": "Retorna un llistat de tots els audios",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "correcto"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Audios"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error de validació",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error intern del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Audios"
                ],
                "summary": "Crea un nou audio",
                "operationId": "61cd5698856ea43c4c421e85b1636236",
                "requestBody": {
                    "description": "Dades necessàries per a crear un nou audio",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "url",
                                    "punt_interes_id"
                                ],
                                "properties": {
                                    "url": {
                                        "description": "URL de l'audio",
                                        "type": "string",
                                        "format": "uri"
                                    },
                                    "punt_interes_id": {
                                        "description": "Identificador del punt d'interès associat a l'audio",
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Nou audio creat correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Audios"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error en la validació de dades",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error intern del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/audios/{id}": {
            "get": {
                "tags": [
                    "Audios"
                ],
                "summary": "Obté les dades d'un audio específic",
                "operationId": "ada6f3ff974182bc13aa8d6c85c941fd",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Identificador únic de l'audio",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Dades de l'audio trobades",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "correcto"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Audios"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Audio no trobat",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "Usuari no trobat"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error intern del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Audios"
                ],
                "summary": "Actualitza un audio existent",
                "operationId": "cc58deaecfbaae679f2982066bb8bce4",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Identificador únic de l'audio a actualitzar",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Dades de l'audio a actualitzar",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [],
                                "properties": {
                                    "url": {
                                        "description": "URL de l'audio",
                                        "type": "string",
                                        "format": "uri"
                                    },
                                    "punt_interes_id": {
                                        "description": "Identificador del punt d'interès associat a l'audio",
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Dades de l'audio actualitzades correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Audios"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error en la validació de dades",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error intern del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Audios"
                ],
                "summary": "Elimina un audio existent",
                "operationId": "22c5e59fa7d460781fea1f7b5f1270f8",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Identificador únic de l'audio a eliminar",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Audio eliminat correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Audios"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Audio no trobat o error en l'eliminació",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "Error"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error intern del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/comentaris": {
            "get": {
                "tags": [
                    "Comentaris"
                ],
                "summary": "Llista tots els comentaris",
                "operationId": "a51f498646633f571bb3d330ce187883",
                "responses": {
                    "200": {
                        "description": "Llista de comentaris recuperada amb èxit",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "correcto"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Comentaris"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Comentari no trobat",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "Comentari no trobat"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Comentaris"
                ],
                "summary": "Crea un nou comentari",
                "operationId": "a6a7baf06a98d82fd2257ff0f74328fd",
                "requestBody": {
                    "description": "Dades necessàries per a crear un nou comentari",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "comentari",
                                    "espai_id"
                                ],
                                "properties": {
                                    "comentari": {
                                        "description": "Text del comentari",
                                        "type": "string",
                                        "maxLength": 2000
                                    },
                                    "espai_id": {
                                        "description": "Identificador de l'espai associat al comentari",
                                        "type": "integer"
                                    },
                                    "md_id": {
                                        "description": "Identificador de l'usuari que fa el comentari (opcional)",
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Nou comentari creat correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "correcte"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Comentaris"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error en la validació de dades",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error intern del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/comentaris/{id}": {
            "get": {
                "tags": [
                    "Comentaris"
                ],
                "summary": "Obté les dades d'un comentari específic",
                "operationId": "abe3c015def8cbf1bab4023bb702f35e",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Identificador únic del comentari",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Dades del comentari trobades",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "correcto"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Comentaris"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Comentari no trobat",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "Usuaris no trobat"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Comentaris"
                ],
                "summary": "Actualitza un comentari existent",
                "operationId": "e779b557a1c470eae291ca9379723a5d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Identificador únic del comentari a actualitzar",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Dades del comentari a actualitzar",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [],
                                "properties": {
                                    "comentari": {
                                        "description": "Text del comentari",
                                        "type": "string",
                                        "maxLength": 2000
                                    },
                                    "espai_id": {
                                        "description": "Identificador de l'espai associat al comentari",
                                        "type": "integer"
                                    },
                                    "validat": {
                                        "description": "Estat de validació del comentari (només administradors)",
                                        "type": "boolean"
                                    },
                                    "usuari_id": {
                                        "description": "Identificador de l'usuari que ha fet el comentari (només administradors)",
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Dades del comentari actualitzades correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Comentaris"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error en la validació de dades",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error intern del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Comentaris"
                ],
                "summary": "Elimina un comentari existent",
                "operationId": "3e9b5b8ff8d48f44f70da0bbdf90f69b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Identificador únic del comentari a eliminar",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Comentari eliminat correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Comentaris"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Comentari no trobat o error en l'eliminació",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "Error"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error intern del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/espais": {
            "get": {
                "tags": [
                    "Espais"
                ],
                "summary": "Llista tots els espais",
                "operationId": "af8feb639fdf770c2b4cbc4f1895c2b4",
                "responses": {
                    "200": {
                        "description": "Llista d'espais recuperada amb èxit",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "correcto"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Espais"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error en la sol·licitud",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error intern del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Espais"
                ],
                "summary": "Crea un nou espai",
                "operationId": "8756b3391a587272e1370511182e10d0",
                "requestBody": {
                    "description": "Dades necessàries per a crear un nou espai",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nom",
                                    "descripcio",
                                    "carrer",
                                    "numero",
                                    "mail"
                                ],
                                "properties": {
                                    "nom": {
                                        "description": "Nom de l'espai",
                                        "type": "string",
                                        "maxLength": 255
                                    },
                                    "descripcio": {
                                        "description": "Descripció de l'espai",
                                        "type": "string"
                                    },
                                    "carrer": {
                                        "description": "Carrer de l'espai",
                                        "type": "string",
                                        "maxLength": 255
                                    },
                                    "numero": {
                                        "description": "Número de l'edifici",
                                        "type": "string",
                                        "maxLength": 10
                                    },
                                    "pis_porta": {
                                        "description": "Pis i porta",
                                        "type": "string",
                                        "maxLength": 50,
                                        "nullable": true
                                    },
                                    "web": {
                                        "description": "Web de l'espai",
                                        "type": "string",
                                        "maxLength": 255,
                                        "nullable": true
                                    },
                                    "mail": {
                                        "description": "Correu electrònic de contacte",
                                        "type": "string",
                                        "format": "email",
                                        "maxLength": 255
                                    },
                                    "grau_acc": {
                                        "description": "Grau d'accessibilitat",
                                        "type": "string",
                                        "enum": [
                                            "baix",
                                            "mig",
                                            "alt"
                                        ],
                                        "nullable": true
                                    },
                                    "any_cons": {
                                        "description": "Any de construcció",
                                        "type": "integer",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Nou espai creat correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "correcte"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Espais"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error en la validació de dades",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error intern del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/espais/{id}": {
            "get": {
                "tags": [
                    "Espais"
                ],
                "summary": "Obté les dades d'un espai específic",
                "operationId": "b03ed3ad4bf852289b027187a1074948",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Identificador únic de l'espai",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Dades de l'espai trobades",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "correcto"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Espais"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Espai no trobat",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "Espai no trobat"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error intern del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Espais"
                ],
                "summary": "Actualitza un espai existent",
                "operationId": "a6a5b2af75aa760d4fb88dced171b686",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Identificador únic de l'espai a actualitzar",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Dades de l'espai a actualitzar",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [],
                                "properties": {
                                    "nom": {
                                        "description": "Nom de l'espai",
                                        "type": "string",
                                        "maxLength": 255
                                    },
                                    "descripcio": {
                                        "description": "Descripció de l'espai",
                                        "type": "string"
                                    },
                                    "carrer": {
                                        "description": "Carrer de l'espai",
                                        "type": "string",
                                        "maxLength": 255
                                    },
                                    "numero": {
                                        "description": "Número de l'edifici",
                                        "type": "string",
                                        "maxLength": 10
                                    },
                                    "pis_porta": {
                                        "description": "Pis i porta",
                                        "type": "string",
                                        "maxLength": 50,
                                        "nullable": true
                                    },
                                    "web": {
                                        "description": "Web de l'espai",
                                        "type": "string",
                                        "maxLength": 255,
                                        "nullable": true
                                    },
                                    "mail": {
                                        "description": "Correu electrònic de contacte",
                                        "type": "string",
                                        "format": "email",
                                        "maxLength": 255
                                    },
                                    "grau_acc": {
                                        "description": "Grau d'accessibilitat",
                                        "type": "string",
                                        "enum": [
                                            "baix",
                                            "mig",
                                            "alt"
                                        ],
                                        "nullable": true
                                    },
                                    "any_cons": {
                                        "description": "Any de construcció",
                                        "type": "integer",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Dades de l'espai actualitzades correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Espais"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error en la validació de dades",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error intern del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Espais"
                ],
                "summary": "Elimina un espai existent",
                "operationId": "cfa69b953da05cce0c12f426c343d432",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Identificador únic de l'espai a eliminar",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Espai eliminat correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Espais"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Espai no trobat o error en l'eliminació",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "Error"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error intern del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/espais/delete/{id}": {
            "delete": {
                "tags": [
                    "Espais"
                ],
                "summary": "Marca un espai com a donat de baixa",
                "operationId": "231c1f44cd67dc4601bfdbcfa8d6866a",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Identificador únic de l'espai a marcar com a baixa",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Espai marcat com a baixa correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Espais"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Espai no trobat o error en el procés de baixa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "Error"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error intern del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/espais-idiomes": {
            "get": {
                "tags": [
                    "EspaisIdiomes"
                ],
                "summary": "Llista totes les traduccions dels espais",
                "operationId": "e213de3c339ceb01fb92042415c9f788",
                "responses": {
                    "200": {
                        "description": "Llista de totes les traduccions dels espais",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/EspaisIdiomes"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "EspaisIdiomes"
                ],
                "summary": "Crea una nova traducció per un espai",
                "operationId": "528c978f7f3d79b372e0147ee3ce86d0",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "idioma_id",
                                    "espai_id",
                                    "traduccio"
                                ],
                                "properties": {
                                    "idioma_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "espai_id": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "traduccio": {
                                        "type": "string",
                                        "example": "Descripció traduïda de l'espai"
                                    },
                                    "data_baixa": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2023-01-01",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Traducció creada correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "espais_idiomes": {
                                            "$ref": "#/components/schemas/EspaisIdiomes"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error en la validació de dades",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/espais-idiomes/{idioma_id}/{espai_id}": {
            "get": {
                "tags": [
                    "EspaisIdiomes"
                ],
                "summary": "Obté una traducció específica d'un espai",
                "operationId": "8f62d2f8d59bbd072c3a59cfdf588a00",
                "parameters": [
                    {
                        "name": "idioma_id",
                        "in": "path",
                        "description": "ID de l'idioma",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "espai_id",
                        "in": "path",
                        "description": "ID de l'espai",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Traducció trobada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "espai_idioma": {
                                            "$ref": "#/components/schemas/EspaisIdiomes"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Traducció no trobada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Traducció no trobada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "EspaisIdiomes"
                ],
                "summary": "Actualitza una traducció d'un espai",
                "operationId": "5fe4dbd540d12d839e802fdf1b419c4b",
                "parameters": [
                    {
                        "name": "idioma_id",
                        "in": "path",
                        "description": "ID de l'idioma",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "espai_id",
                        "in": "path",
                        "description": "ID de l'espai",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "traduccio"
                                ],
                                "properties": {
                                    "traduccio": {
                                        "type": "string",
                                        "example": "Nova descripció traduïda de l'espai"
                                    },
                                    "data_baixa": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2023-01-02",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Traducció actualitzada amb èxit",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "espai_idioma": {
                                            "$ref": "#/components/schemas/EspaisIdiomes"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error en la validació de dades",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Traducció no trobada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Traducció no trobada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "EspaisIdiomes"
                ],
                "summary": "Elimina una traducció d'un espai",
                "operationId": "dd76e75b3675f7d478fbd2f479cdf6d1",
                "parameters": [
                    {
                        "name": "idioma_id",
                        "in": "path",
                        "description": "ID de l'idioma",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "espai_id",
                        "in": "path",
                        "description": "ID de l'espai",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Traducció eliminada correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Traducció eliminada correctament"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Traducció no trobada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Traducció no trobada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/espais-modalitats": {
            "get": {
                "tags": [
                    "EspaisModalitats"
                ],
                "summary": "Llista totes les associacions d'espais i modalitats",
                "operationId": "22499f5aaff79e7601966fa8aca8618e",
                "responses": {
                    "200": {
                        "description": "Llista d'associacions d'espais i modalitats",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "espais_modalitats": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/EspaisModalitats"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "EspaisModalitats"
                ],
                "summary": "Crea una nova associació entre un espai i una modalitat",
                "operationId": "7922f9aa37dd0c9b3f34304effdec01f",
                "requestBody": {
                    "description": "Dades necessàries per a crear una nova associació",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "espai_id",
                                    "modalitat_id"
                                ],
                                "properties": {
                                    "espai_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "modalitat_id": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "data_baixa": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2023-01-01",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Associació creada correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "espais_modalitats": {
                                            "$ref": "#/components/schemas/EspaisModalitats"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error en la validació de dades",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/espais-modalitats/{espai_id}/{modalitat_id}": {
            "get": {
                "tags": [
                    "EspaisModalitats"
                ],
                "summary": "Obté una associació específica entre un espai i una modalitat",
                "operationId": "d9d16826f29a16423a08fff243625627",
                "parameters": [
                    {
                        "name": "espai_id",
                        "in": "path",
                        "description": "ID de l'espai",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "modalitat_id",
                        "in": "path",
                        "description": "ID de la modalitat",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Associació trobada amb èxit",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "espais_modalitats": {
                                            "$ref": "#/components/schemas/EspaisModalitats"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Associació no trobada",
                        "content": {
                            "application/json": {
                                "schema": {
[...]
