{
    "openapi": "3.0.0",
    "info": {
        "title": "Projecte BALEARCS-E",
        "description": "REST API. Projecte BALLEARCS-E. DAW Client i servidor.",
        "contact": {
            "name": "Aurora, Joan i Joan Toni.",
            "email": "joanantoniramon@paucasesnovescifp.cat"
        },
        "version": "1.0"
    },
    "servers": [
        {
            "url": "http://balearcs.dawpaucasesnoves.com/balearcs/public"
        }
    ],
    "paths": {
        "/api/arquitectes": {
            "get": {
                "tags": [
                    "Arquitectes"
                ],
                "summary": "Obtenir tots els arquitectes",
                "description": "Retorna una llista de tots els arquitectes",
                "operationId": "getArquitectes",
                "responses": {
                    "200": {
                        "description": "Llista d'arquitectes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Arquitectes"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error de validació",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": {
                                                "field_name": [
                                                    "Error message"
                                                ]
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error intern del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Missatge d'error intern del servidor"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/arquitectes": {
            "post": {
                "tags": [
                    "Arquitectes"
                ],
                "summary": "Crea un nou arquitecte",
                "operationId": "066d6da045a105b9d51e1bab8d0d913b",
                "requestBody": {
                    "description": "Dades de l'arquitecte",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nom"
                                ],
                                "properties": {
                                    "nom": {
                                        "type": "string",
                                        "example": "Joan Miró"
                                    },
                                    "data_baixa": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-01-01"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Arquitecte creat correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Arquitectes"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error de validació",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error intern del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/arquitectes/{id}": {
            "get": {
                "tags": [
                    "Arquitectes"
                ],
                "summary": "Obté les dades d'un arquitecte",
                "operationId": "d20abf9d0f8fa238dd96231ce5d29ba6",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Identificador únic de l'arquitecte",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Arquitecte trobat",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "correcto"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Arquitectes"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Arquitecte no trobat",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "No trobat"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error intern del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Arquitectes"
                ],
                "summary": "Actualitza un arquitecte",
                "description": "Actualitza les dades d'un arquitecte existent. Només els camps proporcionats seran actualitzats.",
                "operationId": "updateArquitecte",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de l'arquitecte a actualitzar",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Dades de l'arquitecte per actualitzar",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Arquitectes"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Arquitecte actualitzat amb èxit",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Arquitectes"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Petició incorrecta"
                    },
                    "404": {
                        "description": "Arquitecte no trobat"
                    },
                    "500": {
                        "description": "Error del servidor"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Arquitectes"
                ],
                "summary": "Elimina un arquitecte",
                "operationId": "101c2499d5bbf87d3c2348dde3205982",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Identificador únic de l'arquitecte a eliminar",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Arquitecte eliminat correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Arquitectes"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Arquitecte no trobat",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "Error"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error intern del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/audios": {
            "get": {
                "tags": [
                    "Audios"
                ],
                "summary": "Llista tots els audios",
                "operationId": "50a346863957d4da0a4e49b18c8e2316",
                "responses": {
                    "200": {
                        "description": "Retorna un llistat de tots els audios",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "correcto"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Audios"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error de validació",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error intern del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Audios"
                ],
                "summary": "Crea un nou audio",
                "description": "Guarda un nou audio a la base de dades",
                "operationId": "61cd5698856ea43c4c421e85b1636236",
                "requestBody": {
                    "description": "Dades per al nou audio",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "url",
                                    "punt_interes_id"
                                ],
                                "properties": {
                                    "url": {
                                        "type": "string",
                                        "example": "http://exemple.com/audio.mp3"
                                    },
                                    "punt_interes_id": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Audio creat amb èxit",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Audios"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error de validació"
                    },
                    "500": {
                        "description": "Error del servidor"
                    }
                }
            }
        },
        "/api/audios/{id}": {
            "get": {
                "tags": [
                    "Audios"
                ],
                "summary": "Obté les dades d'un audio específic",
                "operationId": "ada6f3ff974182bc13aa8d6c85c941fd",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Identificador únic de l'audio",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Dades de l'audio trobades",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "correcto"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Audios"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Audio no trobat",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "No trobat"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error intern del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Audios"
                ],
                "summary": "Actualitza un audio",
                "description": "Actualitza les dades d'un audio segons l'ID",
                "operationId": "updateAudio",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de l'audio a actualitzar",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Dades de l'audio per actualitzar",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "url",
                                    "punt_interes_id"
                                ],
                                "properties": {
                                    "url": {
                                        "type": "string",
                                        "example": "http://exemple.com/audio.mp3"
                                    },
                                    "punt_interes_id": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Àudio actualitzat amb èxit",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error de validació",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error intern del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Audios"
                ],
                "summary": "Elimina un audio existent",
                "operationId": "22c5e59fa7d460781fea1f7b5f1270f8",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Identificador únic de l'audio a eliminar",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Audio eliminat correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Audios"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Audio no trobat o error en l'eliminació",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "Error"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error intern del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/comentaris": {
            "get": {
                "tags": [
                    "Comentaris"
                ],
                "summary": "Llista tots els comentaris",
                "operationId": "a51f498646633f571bb3d330ce187883",
                "responses": {
                    "200": {
                        "description": "Llista de comentaris recuperada amb èxit",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "correcto"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Comentaris"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Comentari no trobat",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "Comentari no trobat"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Comentaris"
                ],
                "summary": "Crea un nou comentari",
                "operationId": "a6a7baf06a98d82fd2257ff0f74328fd",
                "requestBody": {
                    "description": "Dades necessàries per a crear un nou comentari",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "comentari",
                                    "espai_id"
                                ],
                                "properties": {
                                    "comentari": {
                                        "description": "Text del comentari",
                                        "type": "string",
                                        "maxLength": 2000
                                    },
                                    "espai_id": {
                                        "description": "Identificador de l'espai associat al comentari",
                                        "type": "integer"
                                    },
                                    "md_id": {
                                        "description": "Identificador de l'usuari que fa el comentari (opcional)",
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Nou comentari creat correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "correcte"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Comentaris"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error en la validació de dades",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error intern del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/comentaris/{id}": {
            "get": {
                "tags": [
                    "Comentaris"
                ],
                "summary": "Obté les dades d'un comentari específic",
                "operationId": "abe3c015def8cbf1bab4023bb702f35e",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Identificador únic del comentari",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Dades del comentari trobades",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "correcto"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Comentaris"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Comentari no trobat",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "No trobat"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Comentaris"
                ],
                "summary": "Actualitza un comentari existent",
                "operationId": "e779b557a1c470eae291ca9379723a5d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Identificador únic del comentari a actualitzar",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Dades del comentari a actualitzar",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [],
                                "properties": {
                                    "comentari": {
                                        "description": "Text del comentari",
                                        "type": "string",
                                        "maxLength": 2000
                                    },
                                    "espai_id": {
                                        "description": "Identificador de l'espai associat al comentari",
                                        "type": "integer"
                                    },
                                    "validat": {
                                        "description": "Estat de validació del comentari (només administradors)",
                                        "type": "boolean"
                                    },
                                    "usuari_id": {
                                        "description": "Identificador de l'usuari que ha fet el comentari (només administradors)",
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Dades del comentari actualitzades correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Comentaris"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error en la validació de dades",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error intern del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Comentaris"
                ],
                "summary": "Elimina un comentari existent",
                "operationId": "3e9b5b8ff8d48f44f70da0bbdf90f69b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Identificador únic del comentari a eliminar",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Comentari eliminat correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Comentaris"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Comentari no trobat o error en l'eliminació",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "Error"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error intern del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/espais": {
            "get": {
                "tags": [
                    "Espais"
                ],
                "summary": "Llista tots els espais",
                "operationId": "af8feb639fdf770c2b4cbc4f1895c2b4",
                "responses": {
                    "200": {
                        "description": "Llista d'espais recuperada amb èxit",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "correcto"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Espais"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error en la sol·licitud",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error intern del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Espais"
                ],
                "summary": "Crea un nou espai",
                "operationId": "8756b3391a587272e1370511182e10d0",
                "requestBody": {
                    "description": "Dades necessàries per a crear un nou espai",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nom",
                                    "descripcio",
                                    "carrer",
                                    "numero",
                                    "mail"
                                ],
                                "properties": {
                                    "nom": {
                                        "description": "Nom de l'espai",
                                        "type": "string",
                                        "maxLength": 255
                                    },
                                    "descripcio": {
                                        "description": "Descripció de l'espai",
                                        "type": "string"
                                    },
                                    "carrer": {
                                        "description": "Carrer de l'espai",
                                        "type": "string",
                                        "maxLength": 255
                                    },
                                    "numero": {
                                        "description": "Número de l'edifici",
                                        "type": "string",
                                        "maxLength": 10
                                    },
                                    "pis_porta": {
                                        "description": "Pis i porta",
                                        "type": "string",
                                        "maxLength": 50,
                                        "nullable": true
                                    },
                                    "web": {
                                        "description": "Web de l'espai",
                                        "type": "string",
                                        "maxLength": 255,
                                        "nullable": true
                                    },
                                    "mail": {
                                        "description": "Correu electrònic de contacte",
                                        "type": "string",
                                        "format": "email",
                                        "maxLength": 255
                                    },
                                    "grau_acc": {
                                        "description": "Grau d'accessibilitat",
                                        "type": "string",
                                        "enum": [
                                            "baix",
                                            "mig",
                                            "alt"
                                        ],
                                        "nullable": true
                                    },
                                    "any_cons": {
                                        "description": "Any de construcció",
                                        "type": "integer",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Nou espai creat correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "correcte"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Espais"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error en la validació de dades",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error intern del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/espais/{id}": {
            "get": {
                "tags": [
                    "Espais"
                ],
                "summary": "Obté les dades d'un espai específic",
                "operationId": "b03ed3ad4bf852289b027187a1074948",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Identificador únic de l'espai",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Dades de l'espai trobades",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "correcto"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Espais"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Espai no trobat",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "Espai no trobat"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error intern del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Espais"
                ],
                "summary": "Elimina un espai existent",
                "operationId": "cfa69b953da05cce0c12f426c343d432",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Identificador únic de l'espai a eliminar",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Espai eliminat correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Espais"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Espai no trobat o error en l'eliminació",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "Error"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error intern del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/espais/{id}": {
            "put": {
                "tags": [
                    "Espais"
                ],
                "summary": "Actualitza un espai existent",
                "description": "Actualitza les dades d'un espai basat en el seu ID",
                "operationId": "updateEspai",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de l'espai a actualitzar",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Dades actualitzades de l'espai",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Espais"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Espai actualitzat correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Espais"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Dades no vàlides"
                    },
                    "404": {
                        "description": "Espai no trobat"
                    },
                    "500": {
                        "description": "Error del servidor"
                    }
                }
            }
        },
        "/api/espais/delete/{id}": {
            "delete": {
                "tags": [
                    "Espais"
                ],
                "summary": "Marca un espai com a donat de baixa",
                "operationId": "231c1f44cd67dc4601bfdbcfa8d6866a",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Identificador únic de l'espai a marcar com a baixa",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Espai marcat com a baixa correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Espais"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Espai no trobat o error en el procés de baixa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "Error"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error intern del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/espaisidiomes": {
            "get": {
                "tags": [
                    "EspaisIdiomes"
                ],
                "summary": "Llista totes les relacions entre espais i idiomes",
                "operationId": "0e802d57176c26ef703372b87b1f2d60",
                "responses": {
                    "200": {
                        "description": "Llista de relacions entre espais i idiomes recuperada amb èxit",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "correcto"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/EspaisIdiomes"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error en la sol·licitud",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error intern del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/espaisidiomes": {
            "post": {
                "tags": [
                    "EspaisIdiomes"
                ],
                "summary": "Crea una nova traducció d'espai",
                "operationId": "30fa829fd67eb0697a8a0b91240d7148",
                "requestBody": {
                    "description": "Dades necessàries per a crear una nova traducció d'espai",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "idioma_id",
                                    "espai_id",
                                    "traduccio"
                                ],
                                "properties": {
                                    "idioma_id": {
                                        "type": "integer",
                                        "format": "int64",
                                        "example": 1
                                    },
                                    "espai_id": {
                                        "type": "integer",
                                        "format": "int64",
                                        "example": 1
                                    },
                                    "traduccio": {
                                        "type": "string",
                                        "example": "Descripció de l'espai en un idioma específic"
                                    },
                                    "data_baixa": {
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "2024-01-24T15:00:00.000Z"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Traducció creada amb èxit",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/EspaisIdiomes"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error de validació",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error intern del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/espaisidiomes/{idioma_id}/{espai_id}": {
            "get": {
                "tags": [
                    "EspaisIdiomes"
                ],
                "summary": "Obté la traducció específica d'un espai",
                "description": "Retorna la traducció d'un espai específic.",
                "operationId": "77bfbffd6ffe8fdeacff65ea2860ac80",
                "parameters": [
                    {
                        "name": "idioma_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "espai_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operació exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EspaisIdiomes"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Traducció no trobada"
                    },
                    "500": {
                        "description": "Error del servidor"
                    }
                }
            },
            "put": {
                "tags": [
                    "EspaisIdiomes"
                ],
                "summary": "Actualitza una traducció d'un espai",
                "description": "Actualitza la traducció d'un espai amb els valors proporcionats",
                "operationId": "updateTraduccioEspai",
                "parameters": [
                    {
                        "name": "idioma_id",
                        "in": "path",
                        "description": "Identificador de l'idioma",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "espai_id",
                        "in": "path",
                        "description": "Identificador de l'espai",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Dades de la traducció per actualitzar",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EspaisIdiomes"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Traducció actualitzada correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EspaisIdiomes"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Dades invàlides proporcionades"
                    },
                    "404": {
                        "description": "Traducció no trobada"
                    },
                    "500": {
                        "description": "Error intern del servidor"
                    }
                }
            },
            "delete": {
                "tags": [
                    "EspaisIdiomes"
                ],
                "summary": "Elimina la traducció d'un espai",
                "operationId": "2ce52a9510e9208cb465d7ad143aa9c8",
                "parameters": [
                    {
                        "name": "idioma_id",
                        "in": "path",
                        "description": "Identificador únic de l'idioma de la traducció a eliminar",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "espai_id",
                        "in": "path",
                        "description": "Identificador únic de l'espai del qual es vol eliminar la traducció",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Traducció esborrada correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "Esborrat correctament"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Traducció no trobada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "No trobat"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error intern del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/espaismodalitats": {
            "get": {
                "tags": [
                    "EspaisModalitats"
                ],
                "summary": "Llista totes les modalitats dels espais",
                "operationId": "5d80bf5ac35cf5eefee4a61aef2c3602",
                "responses": {
                    "200": {
                        "description": "Operació reeixida",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/EspaisModalitats"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error al servidor"
                    }
                }
            }
        },
        "/espais-modalitats": {
            "post": {
                "tags": [
                    "EspaisModalitats"
                ],
                "summary": "Crea una nova associació entre un espai i una modalitat",
                "operationId": "storeEspaiModalitat",
                "requestBody": {
                    "description": "Dades necessàries per a la creació de l'associació",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "modalitat_id",
                                    "espai_id"
                                ],
                                "properties": {
                                    "modalitat_id": {
                                        "description": "ID de la modalitat",
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "espai_id": {
                                        "description": "ID de l'espai",
                                        "type": "integer",
                                        "example": 2
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Associació creada amb èxit",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/EspaisModalitats"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error de validació",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/espaismodalitats/{espai_id}/{modalitat_id}": {
            "get": {
                "tags": [
                    "EspaisModalitats"
                ],
                "summary": "Mostra una modalitat d'espai específica",
                "operationId": "6eaaa9e1d6fe74ddefd10373d02b0551",
                "parameters": [
                    {
                        "name": "espai_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "modalitat_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operació reeixida",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EspaisModalitats"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No trobat"
                    },
                    "500": {
                        "description": "Error al servidor"
                    }
                }
            },
            "put": {
                "tags": [
                    "EspaisModalitats"
                ],
                "summary": "Actualitza una modalitat d'un espai",
                "description": "Actualitza les dades d'una modalitat específica d'un espai arquitectònic. Requereix l'ID de l'espai i de la modalitat.",
                "operationId": "updateEspaiModalitat",
                "parameters": [
                    {
                        "name": "espai_id",
                        "in": "path",
                        "description": "ID de l'espai arquitectònic",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "modalitat_id",
                        "in": "path",
                        "description": "ID de la modalitat",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Dades de la modalitat per actualitzar",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EspaisModalitats"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Modalitat d'espai actualitzada amb èxit",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EspaisModalitats"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Sol·licitud incorrecta"
                    },
                    "404": {
                        "description": "Modalitat no trobada"
                    },
                    "500": {
                        "description": "Error del servidor"
                    }
                }
            }
        },
        "/api/espaismodalitats/{espai_id}/{modalitat_id}": {
            "delete": {
                "tags": [
                    "EspaisModalitats"
                ],
                "summary": "Elimina una entitat EspaiModalitat",
                "description": "Elimina l'entitat EspaiModalitat basant-se en l'ID d'espai i l'ID de modalitat proporcionats.",
                "operationId": "destroyEspaiModalitat",
                "parameters": [
                    {
                        "name": "espai_id",
                        "in": "path",
                        "description": "ID de l'espai",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "modalitat_id",
                        "in": "path",
                        "description": "ID de la modalitat",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "EspaiModalitat eliminat correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Eliminat correctament"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No trobat",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "No trobat"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Missatge d'error"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/EspaisServeis": {
            "get": {
                "tags": [
                    "EspaisServeis"
                ],
                "summary": "Obté llista de tots els espais serveis",
                "operationId": "27655067e02cec289039a0f17829f0a2",
                "responses": {
                    "200": {
                        "description": "Operació realitzada correctament.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "correcto"
                                        },
                                        "data": {
                                            "type": "array",
[...]
