{
    "openapi": "3.0.0",
    "info": {
        "title": "Projecte BALEARCS-E",
        "description": "REST API. Projecte BALLEARCS-E. DAW Client i servidor.",
        "contact": {
            "name": "Aurora, Joan i Joan Toni.",
            "email": "joanantoniramon@paucasesnovescifp.cat"
        },
        "version": "1.0"
    },
    "servers": [
        {
            "url": "http://balearcs.dawpaucasesnoves.com/balearcs/public"
        }
    ],
    "paths": {
        "/api/arquitectes": {
            "get": {
                "tags": [
                    "Arquitectes"
                ],
                "summary": "Llista tots els arquitectes",
                "operationId": "b05c5e5f888a09559c50675d77183f9e",
                "responses": {
                    "200": {
                        "description": "Retorna un llistat de tots els arquitectes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Arquitecte"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/arquitectes": {
            "post": {
                "tags": [
                    "Arquitectes"
                ],
                "summary": "Crea un nou arquitecte",
                "operationId": "066d6da045a105b9d51e1bab8d0d913b",
                "requestBody": {
                    "description": "Dades necessàries per a crear un nou arquitecte",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nom"
                                ],
                                "properties": {
                                    "nom": {
                                        "type": "string",
                                        "example": "Joan Miró"
                                    },
                                    "data_baixa": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2023-01-01",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Arquitecte creat correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "correcte"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Arquitecte"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error en la validació de dades",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/arquitectes/{id}": {
            "get": {
                "tags": [
                    "Arquitectes"
                ],
                "summary": "Obté un arquitecte per ID",
                "operationId": "d20abf9d0f8fa238dd96231ce5d29ba6",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de l'arquitecte",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Arquitecte trobat amb èxit",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "correcte"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Arquitecte"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Arquitecte no trobat",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "Arquitecte no trobat"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Arquitectes"
                ],
                "summary": "Actualitza un arquitecte existent",
                "operationId": "4367b8c51e5edad3c7c1e7bf72ab031c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de l'arquitecte a actualitzar",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Dades per actualitzar l'arquitecte",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nom"
                                ],
                                "properties": {
                                    "nom": {
                                        "type": "string",
                                        "example": "Antoni Gaudí"
                                    },
                                    "data_baixa": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2023-01-01",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Arquitecte actualitzat amb èxit",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Arquitecte"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error en la validació",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Arquitecte no trobat",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "Arquitecte no trobat"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Arquitectes"
                ],
                "summary": "Elimina un arquitecte",
                "operationId": "101c2499d5bbf87d3c2348dde3205982",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de l'arquitecte a eliminar",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Arquitecte eliminat correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Arquitecte eliminat correctament"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Arquitecte no trobat",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Arquitecte no trobat"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/audios": {
            "get": {
                "tags": [
                    "Audio"
                ],
                "summary": "Llista tots els audios",
                "operationId": "50a346863957d4da0a4e49b18c8e2316",
                "responses": {
                    "200": {
                        "description": "Retorna un llistat de tots els audios",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Audio"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Audio"
                ],
                "summary": "Crea un nou audio",
                "operationId": "61cd5698856ea43c4c421e85b1636236",
                "requestBody": {
                    "description": "Dades necessàries per a crear un nou audio",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "url",
                                    "punt_interes_id"
                                ],
                                "properties": {
                                    "url": {
                                        "type": "string",
                                        "format": "url",
                                        "example": "https://example.com/audio.mp3"
                                    },
                                    "punt_interes_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "data_baixa": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2023-01-01"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Audio creat correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Audio"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error de validació",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Dades d'entrada no vàlides"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/audios/{id}": {
            "get": {
                "tags": [
                    "Audio"
                ],
                "summary": "Mostra un audio específic",
                "operationId": "ada6f3ff974182bc13aa8d6c85c941fd",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retorna l'audio especificat",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Audio"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Audio"
                ],
                "summary": "Actualitza un audio específic",
                "operationId": "cc58deaecfbaae679f2982066bb8bce4",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de l'audio a actualitzar",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Dades per a actualitzar un audio",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "url": {
                                        "type": "string",
                                        "format": "url",
                                        "example": "https://example.com/audio_updated.mp3"
                                    },
                                    "punt_interes_id": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "data_baixa": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2023-02-01"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Audio actualitzat correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Audio"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error de validació",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Dades d'entrada no vàlides"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Audio no trobat",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Audio no trobat"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Audio"
                ],
                "summary": "Elimina un audio específic",
                "operationId": "22c5e59fa7d460781fea1f7b5f1270f8",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Audio eliminat correctament"
                    }
                }
            }
        },
        "/comentaris": {
            "get": {
                "tags": [
                    "Comentaris"
                ],
                "summary": "Llista de comentaris",
                "operationId": "588ffa162402d6f0d4d91ca5043cb5a5",
                "responses": {
                    "200": {
                        "description": "Llista de tots els comentaris",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Comentari"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Comentaris"
                ],
                "summary": "Crea un nou comentari",
                "description": "Emmagatzema un nou comentari a la base de dades.",
                "operationId": "33b91ee9f02512d49a887e052653decc",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "usuari_id",
                                    "espai_id",
                                    "data"
                                ],
                                "properties": {
                                    "usuari_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "espai_id": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "data": {
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "2023-01-01T00:00:00Z"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Comentari creat",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "correcto"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Comentari"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/comentaris/{id}": {
            "get": {
                "tags": [
                    "Comentaris"
                ],
                "summary": "Obté un comentari per ID",
                "description": "Mostra un comentari específic.",
                "operationId": "8caad52203071f2bafd4ab38d74d3b4d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del comentari",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Comentari trobat",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Comentari"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Comentari no trobat"
                    }
                }
            },
            "put": {
                "tags": [
                    "Comentaris"
                ],
                "summary": "Actualitza un comentari",
                "description": "Actualitza un comentari existent.",
                "operationId": "dc2c356f14992dc30c5cc8b2d61bb009",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del comentari",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "usuari_id",
                                    "espai_id",
                                    "data"
                                ],
                                "properties": {
                                    "usuari_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "espai_id": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "data": {
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "2023-01-02T00:00:00Z"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Comentari actualitzat",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Comentari"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Comentari no trobat"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Comentaris"
                ],
                "summary": "Elimina un comentari",
                "description": "Elimina un comentari existent.",
                "operationId": "ddeb20152f8a152bf37f9818af628ade",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del comentari",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Comentari eliminat",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Comentari eliminat correctament"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Comentari no trobat"
                    }
                }
            }
        },
        "/espais": {
            "get": {
                "tags": [
                    "Espais"
                ],
                "summary": "Llista tots els espais",
                "operationId": "9bbb8d88bad49eea6726981c816364d4",
                "responses": {
                    "200": {
                        "description": "Operació exitosa, retorna una llista d'espais",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "correcto"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Espai"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error de validació",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object",
                                            "additionalProperties": [
                                                {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Espais"
                ],
                "summary": "Crea un nou espai",
                "operationId": "e857317eaf988d325d2688de1743751c",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nom",
                                    "descripcio",
                                    "carrer",
                                    "numero",
                                    "mail",
                                    "arquitecte_id",
                                    "gestor_id",
                                    "tipus_id",
                                    "municipi_id"
                                ],
                                "properties": {
                                    "nom": {
                                        "type": "string",
                                        "example": "Museu d'Art Modern"
                                    },
                                    "descripcio": {
                                        "type": "string",
                                        "example": "Museu dedicat a l'art del segle XX"
                                    },
                                    "carrer": {
                                        "type": "string",
                                        "example": "Carrer de l'Exemple"
                                    },
                                    "numero": {
                                        "type": "string",
                                        "example": "123"
                                    },
                                    "pis_porta": {
                                        "type": "string",
                                        "example": "2n 1a",
                                        "nullable": true
                                    },
                                    "web": {
                                        "type": "string",
                                        "example": "https://www.exemple.com",
                                        "nullable": true
                                    },
                                    "mail": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "contacte@exemple.com"
                                    },
                                    "grau_acc": {
                                        "type": "string",
                                        "example": "alt",
                                        "nullable": true
                                    },
                                    "arquitecte_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "gestor_id": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "tipus_id": {
                                        "type": "integer",
                                        "example": 3
                                    },
                                    "municipi_id": {
                                        "type": "integer",
                                        "example": 4
                                    },
                                    "destacat": {
                                        "type": "boolean",
                                        "example": false,
                                        "nullable": true
                                    },
                                    "any_cons": {
                                        "type": "integer",
                                        "example": 1990,
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Espai creat correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "correcte"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Espai"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error en la validació de dades",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/espais/{id}": {
            "get": {
                "tags": [
                    "Espais"
                ],
                "summary": "Obté un espai per ID",
                "operationId": "9e6db2d00ed1722d69b7ff981a38c75c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de l'espai a recuperar",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Espai trobat amb èxit",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "correcto"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Espai"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Espai no trobat",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "Espai no trobat"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Espais"
                ],
                "summary": "Actualitza un espai existent",
                "operationId": "87e3dfcb8877e7c653b09e910a5d1081",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de l'espai a actualitzar",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [],
                                "properties": {
                                    "nom": {
                                        "type": "string",
                                        "example": "Museu d'Art Contemporani"
                                    },
                                    "descripcio": {
                                        "type": "string",
                                        "example": "Museu dedicat a l'art contemporani"
                                    },
                                    "arquitecte_id": {
                                        "type": "integer",
                                        "example": 1,
                                        "nullable": true
                                    },
                                    "gestor_id": {
                                        "type": "integer",
                                        "example": 2,
                                        "nullable": true
                                    },
                                    "tipus_id": {
                                        "type": "integer",
                                        "example": 3,
                                        "nullable": true
                                    },
                                    "municipi_id": {
                                        "type": "integer",
                                        "example": 4,
                                        "nullable": true
                                    },
                                    "destacat": {
                                        "type": "boolean",
                                        "example": false,
                                        "nullable": true
                                    },
                                    "any_cons": {
                                        "type": "integer",
                                        "example": 1990,
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Espai actualitzat amb èxit",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Espai"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error en la validació de dades",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Espais"
                ],
                "summary": "Marca un espai com a donat de baixa",
                "operationId": "0a7fea05bc3f35aabb6b432a6c12a7c0",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de l'espai a donar de baixa",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Espai marcat com a donat de baixa amb èxit",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Espai"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error, espai no trobat",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "Error"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/espais-idiomes": {
            "get": {
                "tags": [
                    "EspaiIdioma"
                ],
                "summary": "Llista totes les traduccions dels espais",
                "operationId": "e213de3c339ceb01fb92042415c9f788",
                "responses": {
                    "200": {
                        "description": "Llista de totes les traduccions dels espais",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/EspaiIdioma"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "EspaiIdioma"
                ],
                "summary": "Crea una nova traducció per un espai",
                "operationId": "528c978f7f3d79b372e0147ee3ce86d0",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "idioma_id",
                                    "espai_id",
                                    "traduccio"
                                ],
                                "properties": {
                                    "idioma_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "espai_id": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "traduccio": {
                                        "type": "string",
                                        "example": "Descripció traduïda de l'espai"
                                    },
                                    "data_baixa": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2023-01-01",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Traducció creada correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "espai_idioma": {
                                            "$ref": "#/components/schemas/EspaiIdioma"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error en la validació de dades",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/espais-idiomes/{idioma_id}/{espai_id}": {
            "get": {
                "tags": [
                    "EspaiIdioma"
                ],
                "summary": "Obté una traducció específica d'un espai",
                "operationId": "8f62d2f8d59bbd072c3a59cfdf588a00",
                "parameters": [
                    {
                        "name": "idioma_id",
                        "in": "path",
                        "description": "ID de l'idioma",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "espai_id",
                        "in": "path",
                        "description": "ID de l'espai",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Traducció trobada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "espai_idioma": {
                                            "$ref": "#/components/schemas/EspaiIdioma"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Traducció no trobada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Traducció no trobada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "EspaiIdioma"
                ],
                "summary": "Actualitza una traducció d'un espai",
                "operationId": "5fe4dbd540d12d839e802fdf1b419c4b",
                "parameters": [
                    {
                        "name": "idioma_id",
                        "in": "path",
                        "description": "ID de l'idioma",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "espai_id",
                        "in": "path",
                        "description": "ID de l'espai",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "traduccio"
                                ],
                                "properties": {
                                    "traduccio": {
                                        "type": "string",
                                        "example": "Nova descripció traduïda de l'espai"
                                    },
                                    "data_baixa": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2023-01-02",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Traducció actualitzada amb èxit",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "espai_idioma": {
                                            "$ref": "#/components/schemas/EspaiIdioma"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error en la validació de dades",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Traducció no trobada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Traducció no trobada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "EspaiIdioma"
                ],
                "summary": "Elimina una traducció d'un espai",
                "operationId": "dd76e75b3675f7d478fbd2f479cdf6d1",
                "parameters": [
                    {
                        "name": "idioma_id",
                        "in": "path",
                        "description": "ID de l'idioma",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "espai_id",
                        "in": "path",
                        "description": "ID de l'espai",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Traducció eliminada correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Traducció eliminada correctament"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Traducció no trobada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Traducció no trobada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/espais-modalitats": {
            "get": {
                "tags": [
                    "EspaiModalitat"
                ],
                "summary": "Llista totes les associacions d'espais i modalitats",
                "operationId": "22499f5aaff79e7601966fa8aca8618e",
                "responses": {
                    "200": {
                        "description": "Llista d'associacions d'espais i modalitats",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "espais_modalitats": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/EspaiModalitat"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "EspaiModalitat"
                ],
                "summary": "Crea una nova associació entre un espai i una modalitat",
                "operationId": "7922f9aa37dd0c9b3f34304effdec01f",
                "requestBody": {
                    "description": "Dades necessàries per a crear una nova associació",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "espai_id",
                                    "modalitat_id"
                                ],
                                "properties": {
                                    "espai_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "modalitat_id": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "data_baixa": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2023-01-01",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Associació creada correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "espai_modalitat": {
                                            "$ref": "#/components/schemas/EspaiModalitat"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error en la validació de dades",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/espais-modalitats/{espai_id}/{modalitat_id}": {
            "get": {
                "tags": [
                    "EspaiModalitat"
                ],
                "summary": "Obté una associació específica entre un espai i una modalitat",
                "operationId": "d9d16826f29a16423a08fff243625627",
                "parameters": [
                    {
                        "name": "espai_id",
                        "in": "path",
                        "description": "ID de l'espai",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "modalitat_id",
                        "in": "path",
                        "description": "ID de la modalitat",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Associació trobada amb èxit",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "espai_modalitat": {
                                            "$ref": "#/components/schemas/EspaiModalitat"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Associació no trobada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Associació no trobada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "EspaiModalitat"
                ],
                "summary": "Elimina una associació entre un espai i una modalitat",
                "operationId": "6d5ddb54a4e6000cef77967b7c8cf60c",
                "parameters": [
                    {
                        "name": "espai_id",
                        "in": "path",
                        "description": "ID de l'espai",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "modalitat_id",
                        "in": "path",
                        "description": "ID de la modalitat",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Associació eliminada correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Associació eliminada correctament"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Associació no trobada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Associació no trobada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/espais-serveis": {
            "get": {
                "tags": [
                    "EspaiServei"
                ],
                "summary": "Llista totes les associacions d'espais i serveis",
                "operationId": "d6dba692a44747a8bf97edb5c1fe676c",
                "responses": {
                    "200": {
                        "description": "Llista d'associacions d'espais i serveis",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "espais_serveis": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/EspaiServei"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "EspaiServei"
                ],
                "summary": "Crea una nova associació entre un espai i un servei",
                "operationId": "5e264c170dc7ff26a5876b6838a16ff8",
                "requestBody": {
                    "description": "Dades necessàries per a crear una nova associació",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "servei_id",
                                    "espai_id"
                                ],
                                "properties": {
                                    "servei_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "espai_id": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "data_baixa": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2023-01-01",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Associació creada correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "espai_servei": {
                                            "$ref": "#/components/schemas/EspaiServei"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error en la validació de dades",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/espais-serveis/{servei_id}/{espai_id}": {
            "get": {
                "tags": [
                    "EspaiServei"
                ],
                "summary": "Obté una associació específica entre un espai i un servei",
                "operationId": "a025e19f8c5a2022e93464543301974a",
                "parameters": [
                    {
                        "name": "servei_id",
                        "in": "path",
                        "description": "ID del servei",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "espai_id",
                        "in": "path",
                        "description": "ID de l'espai",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Associació trobada amb èxit",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "espai_servei": {
                                            "$ref": "#/components/schemas/EspaiServei"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Associació no trobada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Associació no trobada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "EspaiServei"
                ],
                "summary": "Elimina una associació entre un espai i un servei",
                "operationId": "e542b157daf7b383621fc04a41393533",
                "parameters": [
                    {
                        "name": "servei_id",
                        "in": "path",
                        "description": "ID del servei",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "espai_id",
                        "in": "path",
                        "description": "ID de l'espai",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Associació eliminada correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Associació eliminada correctament"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Associació no trobada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Associació no trobada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/fotos": {
            "get": {
                "tags": [
                    "Foto"
                ],
                "summary": "Llista totes les fotos",
                "operationId": "65d43ef20a19727a91ac3284e75b105a",
                "responses": {
                    "200": {
                        "description": "Llista de totes les fotos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "fotos": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Foto"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Foto"
                ],
                "summary": "Crea una nova foto",
                "operationId": "e052e1e388c9f1dd776011960ca0180c",
                "requestBody": {
                    "description": "Dades i fitxer necessaris per a crear una nova foto",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "imatge",
                                    "punt_interes_id",
                                    "espai_id"
                                ],
                                "properties": {
                                    "imatge": {
                                        "description": "Fitxer de la imatge",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "punt_interes_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "espai_id": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "comentari": {
                                        "type": "string",
                                        "example": "Comentari sobre la foto"
                                    },
                                    "data_baixa": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2023-01-01",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Foto creada correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "foto": {
                                            "$ref": "#/components/schemas/Foto"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error en la validació de dades",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/fotos/{id}": {
            "get": {
                "tags": [
                    "Foto"
                ],
                "summary": "Obté una foto específica",
                "operationId": "bab59eee5a72607cf660dfc06792740d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la foto a obtenir",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Foto trobada amb èxit",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Foto trobada amb èxit"
                                        },
                                        "foto": {
                                            "$ref": "#/components/schemas/Foto"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Foto no trobada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Foto no trobada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Foto"
                ],
                "summary": "Actualitza una foto existent",
                "operationId": "a9ea7dddec8502c4195a46f50e58f0ff",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la foto a actualitzar",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Dades per a actualitzar la foto",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "imatge": {
                                        "description": "Fitxer de la imatge actualitzat",
                                        "type": "string",
                                        "format": "binary",
                                        "nullable": true
                                    },
                                    "comentari": {
                                        "type": "string",
                                        "example": "Nou comentari sobre la foto",
                                        "nullable": true
                                    },
                                    "data_baixa": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2023-01-01",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Foto actualitzada correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "foto": {
                                            "$ref": "#/components/schemas/Foto"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error en la validació de dades",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Foto no trobada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Foto no trobada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Foto"
                ],
                "summary": "Elimina una foto específica",
                "operationId": "a67ad58d7416a5bbee0a0baf13f052f4",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la foto a eliminar",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Foto eliminada correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Foto eliminada correctament"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Foto no trobada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Foto no trobada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/idiomes": {
            "get": {
                "tags": [
                    "Idioma"
                ],
                "summary": "Llista tots els idiomes",
                "operationId": "0ce1673cd3e8632408b68298714fb151",
                "responses": {
                    "200": {
                        "description": "Llista de tots els idiomes disponibles",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "idiomes": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Idioma"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Idioma"
                ],
                "summary": "Crea un nou idioma",
                "operationId": "12de840472c88627f666e6060ce1a17a",
                "requestBody": {
                    "description": "Dades necessàries per a la creació d'un nou idioma",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nom"
                                ],
                                "properties": {
                                    "nom": {
                                        "type": "string",
                                        "example": "Francès"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Idioma creat correctament",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "idioma": {
                                            "$ref": "#/components/schemas/Idioma"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error en la validació de dades",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/idiomes/{id}": {
            "get": {
                "tags": [
                    "Idioma"
                ],
                "summary": "Obté un idioma específic",
                "operationId": "d42ae0e02a0ba24af0e0537389ea9260",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de l'idioma a obtenir",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Idioma trobat amb èxit",
                        "content": {
[...]
